In [1]:
import pandas as pd

In [11]:
df = pd.read_table('https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/demo_nsinrt.tsv.gz', sep='\t')
df.head(10)

,"unit,sex,age,agedef,geo\time",2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,"NR,F,TOTAL,COMPLET,AM",:,0.68848,0.63322,0.61924,:,0.66165,:,:,:,...,:,:,:,:,:,:,:,:,:,:
1,"NR,F,TOTAL,COMPLET,AT",:,0.61855,0.62871,0.60881,0.61180,0.60999,0.51890,0.50244,0.53882,...,0.54445,0.54264,0.56298,0.56883,0.56863,0.56576,0.57603,0.58325,0.56405,0.58640
2,"NR,F,TOTAL,COMPLET,AZ",:,0.84265,0.80086,0.78228,:,0.98800,0.97584,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"NR,F,TOTAL,COMPLET,BE",0.31008,:,:,0.42931,:,:,:,:,0.43961,...,0.50619,0.50904,0.54308,0.56278,0.56943,0.58776,0.61060,0.65426,0.68940,0.72433
4,"NR,F,TOTAL,COMPLET,BG",0.50948,0.65993,0.64199,0.61562,0.56910,0.56940,0.48873,0.42647,:,...,0.53223,0.53301,0.51422,0.52960,0.54893,0.57106,0.61277,0.69314,0.74751,0.90661
5,"NR,F,TOTAL,COMPLET,BY",:,:,0.73379,0.79146,0.74421,0.92359,0.91832,0.94249,0.80951,...,:,:,:,:,:,:,:,:,:,:
6,"NR,F,TOTAL,COMPLET,CH",0.51141,0.56619,0.59509,0.59278,0.61046,0.61027,0.62414,0.59678,0.64628,...,0.66072,0.62667,0.62452,0.64312,0.64045,0.66452,0.67676,0.71147,0.74741,0.74963
7,"NR,F,TOTAL,COMPLET,CY",:,:,:,:,:,:,:,:,:,...,1.44528,1.26777,1.24032,0.99643,1.21574,1.16972,1.20065,0.96384,1.30851,1.19602
8,"NR,F,TOTAL,COMPLET,CZ",0.53677,0.64840,0.63455,0.60469,0.57506,0.53797,0.50345,0.46705,0.47688,...,0.47990,0.49049,0.50751,0.48879,0.50743,0.55093,0.65011,0.76135,0.76458,0.99822
9,"NR,F,TOTAL,COMPLET,DE",:,:,:,0.61929,0.62367,0.61043,0.59266,0.57214,:,...,0.59525,0.56979,0.57336,0.57089,0.56530,0.56803,0.56368,0.57311,0.56695,0.64407

In [12]:
print(df.dtypes)

unit,sex,age,agedef,geo\time    object
2020                            object
2019                            object
2018                            object
2017                            object
2016                            object
2015                            object
2014                            object
2013                            object
2012                            object
2011                            object
2010                            object
2009                            object
2008                            object
2007                            object
2006                            object
2005                            object
2004                            object
2003                            object
2002                            object
2001                            object
2000                            object
1999                            object
1998                            object
1997                            object
1996                            object
1995                            object
1994                            object
1993                            object
1992                            object
1991                            object
1990                            object
dtype: object