In [1]:
import pandas as pd

In [17]:
df_url = ('https://statbel.fgov.be/sites/default/files/files/opendata/BRI_Nace/TF_BANKRUPTCIES.zip')
df = pd.read_csv(df_url, sep="|")
df = df.drop(['TX_EMPLOYMENT_CLASS_DESCR_FR', 'TX_LEGAL_FORM_DESCR_FR', 'TX_MUNTY_DESCR_FR', 'TX_ADM_DSTR_DESCR_FR',
             'TX_PROV_DESCR_FR', 'TX_RGN_DESCR_FR', 'TX_NACE_REV2_SECTION_FR', 'TX_NACE_REV2_CLASS_FR', 'TX_NACE_REV2_GROUP_FR', 'TX_NACE_REV2_DIVISION_FR'], axis=1)
df.head()

/var/folders/23/8w2q1vrx7yl15vpmhhd3l44r0000gp/T/ipykernel_35898/2049505980.py:2: DtypeWarning: Columns (25,26,29,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_url, sep="|")

,MS_COUNTOF_BANKRUPTCIES,MS_COUNTOF_FULL_TIME_WORKERS,MS_COUNTOF_PART_TIME_WORKERS,MS_COUNTOF_SELF_EMPLOYED_WORKERS,MS_COUNTOF_WORKERS,CD_YEAR,CD_MONTH,CD_EMPLOYMENT_CLASS,TX_EMPLOYMENT_CLASS_DESCR_NL,CD_LEGAL_FORM,...,TX_RGN_DESCR_NL,CD_NACE_REV2_CLASS,TX_NACE_REV2_CLASS,TX_NACE_REV2_CLASS_NL,TX_NACE_REV2_GROUP,TX_NACE_REV2_GROUP_NL,TX_NACE_REV2_DIVISION,TX_NACE_REV2_DIVISION_NL,TX_NACE_REV2_SECTION,TX_NACE_REV2_SECTION_NL
0,1,0,0,1,1,2019,5,1,1 - 4 werknemers,3,...,Vlaams Gewest,111,1.11,"Teelt van granen (m.u.v. rijst), peulgewassen ...",1.1,Teelt van eenjarige gewassen,1,"Teelt van gewassen, veeteelt, jacht en dienste...",A,"Landbouw, bosbouw en visserij"
1,1,0,0,1,1,2021,8,1,1 - 4 werknemers,0,...,Vlaams Gewest,111,1.11,"Teelt van granen (m.u.v. rijst), peulgewassen ...",1.1,Teelt van eenjarige gewassen,1,"Teelt van gewassen, veeteelt, jacht en dienste...",A,"Landbouw, bosbouw en visserij"
2,1,0,0,1,1,2016,7,1,1 - 4 werknemers,0,...,Waals Gewest,111,1.11,"Teelt van granen (m.u.v. rijst), peulgewassen ...",1.1,Teelt van eenjarige gewassen,1,"Teelt van gewassen, veeteelt, jacht en dienste...",A,"Landbouw, bosbouw en visserij"
3,1,0,4,1,5,2007,9,2,5 - 9 werknemers,3,...,Vlaams Gewest,111,1.11,"Teelt van granen (m.u.v. rijst), peulgewassen ...",1.1,Teelt van eenjarige gewassen,1,"Teelt van gewassen, veeteelt, jacht en dienste...",A,"Landbouw, bosbouw en visserij"
4,1,0,0,1,1,2007,7,1,1 - 4 werknemers,3,...,Vlaams Gewest,111,1.11,"Teelt van granen (m.u.v. rijst), peulgewassen ...",1.1,Teelt van eenjarige gewassen,1,"Teelt van gewassen, veeteelt, jacht en dienste...",A,"Landbouw, bosbouw en visserij"

In [25]:
faillissementen_per_maand = pd.pivot_table(df, index=["CD_YEAR", "CD_MONTH"], values='MS_COUNTOF_BANKRUPTCIES', aggfunc="sum").reset_index()
day = 1
faillissementen_per_maand['DATE'] = pd.to_datetime({'day': day, 'month': faillissementen_per_maand.CD_MONTH, 'year': faillissementen_per_maand.CD_YEAR})
# extract last 120 months:
faillissementen_per_maand = faillissementen_per_maand .iloc[-120:]
# Get year-month:
faillissementen_per_maand['Jaar-Maand'] = faillissementen_per_maand['DATE'].dt.strftime('%Y-%m')
faillissementen_per_maand = faillissementen_per_maand[['Jaar-Maand','MS_COUNTOF_BANKRUPTCIES']]

faillissementen_per_maand.rename(columns={'MS_COUNTOF_BANKRUPTCIES':'Aantal faillissementen'}, inplace=True)
# Make 'Jaar-Maand' to index:
faillissementen_per_maand=faillissementen_per_maand.set_index('Jaar-Maand')
# Export data to .csv-file:
faillissementen_per_maand.to_csv('../data/data_bewerkt/economy/faillissementen_per_maand.csv')

            Aantal faillissementen
Jaar-Maand
2012-09                       1118
2012-10                       1163
2012-11                        919
2012-12                        929
2013-01                       1075