In [1]:
import pandas as pd

In [12]:
df_url = 'https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist.zip'
df = pd.read_csv(df_url, compression='zip', header=0, sep=',', decimal=".")

In [16]:
# sort data by date
df = df.sort_values(by=['Date'])
# keep only last 5 years
df = df.tail(5*365)
df

,Date,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,...,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR,Unnamed: 42
1824,2015-09-09,1.1139,134.65,1.9558,NaN,27.057,7.4611,NaN,0.72510,313.17,...,73.9755,1325.47,18.6895,4.8043,1.7461,52.258,1.5782,40.193,15.2276,NaN
1823,2015-09-10,1.1185,135.38,1.9558,NaN,27.038,7.4611,NaN,0.72655,314.51,...,74.3061,1327.10,18.9163,4.8238,1.7775,52.388,1.5837,40.387,15.4986,NaN
1822,2015-09-11,1.1268,136.02,1.9558,NaN,27.074,7.4608,NaN,0.73060,314.74,...,74.8967,1333.25,18.8722,4.8642,1.7914,52.755,1.5948,40.734,15.2887,NaN
1821,2015-09-14,1.1305,136.04,1.9558,NaN,27.116,7.4604,NaN,0.73340,313.33,...,75.0220,1335.76,18.9743,4.8666,1.7905,52.889,1.5919,40.743,15.3545,NaN
1820,2015-09-15,1.1320,135.44,1.9558,NaN,27.088,7.4609,NaN,0.73460,312.48,...,75.1238,1335.54,18.9457,4.8587,1.7877,52.887,1.5849,40.695,15.2568,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2022-10-14,0.9717,143.63,1.9558,NaN,24.587,7.4378,NaN,0.86823,418.24,...,79.9695,1398.50,19.5032,4.5689,1.7302,57.375,1.3852,37.109,17.6932,NaN
3,2022-10-17,0.9739,145.00,1.9558,NaN,24.562,7.4379,NaN,0.86250,418.30,...,80.1280,1399.41,19.5000,4.5934,1.7404,57.433,1.3896,37.169,17.6769,NaN
2,2022-10-18,0.9835,146.65,1.9558,NaN,24.593,7.4393,NaN,0.86928,413.08,...,80.9195,1400.92,19.6640,4.6382,1.7251,57.897,1.3963,37.422,17.7904,NaN
1,2022-10-19,0.9778,146.34,1.9558,NaN,24.563,7.4390,NaN,0.86993,413.78,...,81.1955,1398.35,19.6845,4.6152,1.7264,57.741,1.3931,37.469,17.8339,NaN
0,2022-10-20,0.9811,146.99,1.9558,NaN,24.525,7.4389,NaN,0.87258,411.20,...,81.1755,1400.30,19.7005,4.6396,1.7206,57.742,1.3959,37.360,17.9106,NaN

In [14]:
# get all column names and save as list
cols = df.columns.tolist()
#remove first and last value from list
cols = cols[1:-1]
cols

['USD',
 'JPY',
 'BGN',
 'CYP',
 'CZK',
 'DKK',
 'EEK',
 'GBP',
 'HUF',
 'LTL',
 'LVL',
 'MTL',
 'PLN',
 'ROL',
 'RON',
 'SEK',
 'SIT',
 'SKK',
 'CHF',
 'ISK',
 'NOK',
 'HRK',
 'RUB',
 'TRL',
 'TRY',
 'AUD',
 'BRL',
 'CAD',
 'CNY',
 'HKD',
 'IDR',
 'ILS',
 'INR',
 'KRW',
 'MXN',
 'MYR',
 'NZD',
 'PHP',
 'SGD',
 'THB',
 'ZAR']

In [11]:
# for every value in cols, create a new dataframe with date and column name
for col in cols:
    df_temp = df[['Date', col]]
    df_temp.to_csv('fx_hist_EUR_' + col + '.csv', index=False)

In [10]:
df2

,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,LTL,...,ILS,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR
0,0.9811,146.99,1.9558,NaN,24.525,7.4389,NaN,0.87258,411.20,NaN,...,3.4754,81.1755,1400.30,19.7005,4.6396,1.7206,57.742,1.3959,37.360,17.9106
1,0.9778,146.34,1.9558,NaN,24.563,7.4390,NaN,0.86993,413.78,NaN,...,3.4628,81.1955,1398.35,19.6845,4.6152,1.7264,57.741,1.3931,37.469,17.8339
2,0.9835,146.65,1.9558,NaN,24.593,7.4393,NaN,0.86928,413.08,NaN,...,3.4640,80.9195,1400.92,19.6640,4.6382,1.7251,57.897,1.3963,37.422,17.7904
3,0.9739,145.00,1.9558,NaN,24.562,7.4379,NaN,0.86250,418.30,NaN,...,3.4486,80.1280,1399.41,19.5000,4.5934,1.7404,57.433,1.3896,37.169,17.6769
4,0.9717,143.63,1.9558,NaN,24.587,7.4378,NaN,0.86823,418.24,NaN,...,3.4440,79.9695,1398.50,19.5032,4.5689,1.7302,57.375,1.3852,37.109,17.6932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6092,1.1659,130.09,NaN,0.58187,34.938,7.4433,15.6466,0.70940,250.15,4.6643,...,NaN,NaN,1366.73,NaN,NaN,2.1557,NaN,1.9537,NaN,6.7855
6093,1.1632,129.43,NaN,0.58187,34.886,7.4431,15.6466,0.70585,250.09,4.6548,...,NaN,NaN,1337.16,NaN,NaN,2.1531,NaN,1.9436,NaN,6.8283
6094,1.1743,131.42,NaN,0.58200,34.850,7.4452,15.6466,0.70760,250.67,4.6994,...,NaN,NaN,1359.54,NaN,NaN,2.1890,NaN,1.9699,NaN,6.7307
6095,1.1790,130.96,NaN,0.58230,34.917,7.4495,15.6466,0.71220,250.80,4.7174,...,NaN,NaN,1373.01,NaN,NaN,2.2011,NaN,1.9655,NaN,6.7975
6096,1.1789,133.73,NaN,0.58231,35.107,7.4501,15.6466,0.71110,251.48,4.7170,...,NaN,NaN,1398.59,NaN,NaN,2.2229,NaN,1.9554,NaN,6.9358